source https://nuget.org/api/v2
strategy: max

framework: net452

nuget Argu

nuget FSharp.Core redirects:force
nuget FAKE

nuget NLog redirects:force
nuget Newtonsoft.Json redirects:force

github Ravadre/NLog.FSharp NLog.FSharp/Logger.fs

group VSOClient
	source https://nuget.org/api/v2
	strategy: max

	nuget Microsoft.TeamFoundationServer.Client
	nuget Microsoft.VisualStudio.Services.Client
	nuget Microsoft.VisualStudio.Services.InteractiveClient	

group Test
	source https://nuget.org/api/v2
	strategy: max

	nuget Unquote
	nuget xunit
	nuget xunit.runner.console
	nuget xunit.runner.visualstudio version_in_path: true